@model IEnumerable<Hospital_Assesement_5.Models.Medicine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital_ID.HospitalID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicineID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedicineID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicineID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
